<section class="ForgetForm pt-20">
   @if (step===1) {
    <form class="w-1/2 mx-auto mt-20  rounded shadow p-3 pb-5" [formGroup]="verfyEmail" (ngSubmit)="Fpassword()">
        <div class="relative mt-5">
            <span class="absolute start-0 bottom-3 text-gray-500 dark:text-gray-400">
                <svg class="w-5 h-4 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 19 18">
                    <path
                        d="M2 4c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V4zm18 0l-8 5-8-5v12h16V4zm-8 6l8-5H4l8 5z" />
                </svg>
            </span>
            <input #My type="email" id="email"
                class="block py-2.5 ps-6 pe-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " formControlName="email" />
            <label for="email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <button [disabled]="verfyEmail.invalid" type="submit" class="btn-main px-11 font-bold mt-5">Verify
            Email</button>
    </form>
   }



   @if (step===2) {
    <form class="w-1/2 mx-auto mt-20  rounded shadow p-3 pb-5" [formGroup]="ResetCode" (ngSubmit)=" Code()">
        <div class="relative mt-5">
            <span class="absolute start-0 bottom-3 text-gray-500 dark:text-gray-400">
                <svg class="w-5 h-5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M12 2L3 6v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V6l-9-4zm7 10c0 4.08-2.77 8.36-7 9.72C8.77 20.36 6 16.08 6 12V7.2l6-2.67L18 7.2V12z" />
                    <circle cx="12" cy="12" r="2" />
                    <path d="M10.5 13.5h3v2h-3z" />
                </svg>
            </span>
            <input #My type="text" id="resetCode"
                class="block py-2.5 ps-6 pe-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " formControlName="resetCode" />
            <label for="resetCode"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">ResetCode</label>
        </div>
        <button [disabled]="verfyEmail.invalid" type="submit" class="btn-main px-11 font-bold mt-5">Reset Code</button>
    </form>
   }

   @if (step===3) {
    <form class="w-1/2 mx-auto mt-20  rounded shadow p-3 pb-5" [formGroup]="ResetPassword" (ngSubmit)="RPassword()">
        <div class="relative mt-5">
            <span class="absolute start-0 bottom-3 text-gray-500 dark:text-gray-400">
                <svg class="w-5 h-4 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 19 18">
                    <path
                        d="M2 4c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V4zm18 0l-8 5-8-5v12h16V4zm-8 6l8-5H4l8 5z" />
                </svg>
            </span>
            <input readonly #My type="email" id="email"
                class="block py-2.5 ps-6 pe-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " formControlName="email" />
            <label for="email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <div class="relative mt-5">
            <span class="absolute start-0 bottom-3 text-gray-500 dark:text-gray-400">
                <svg class="w-5 h-4 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 19 18">

                    <path
                        d="M6 10V7a6 6 0 1 1 12 0v3h1c1.1 0 2 .9 2 2v6c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2v-6c0-1.1.9-2 2-2h1zm10 0V7a4 4 0 1 0-8 0v3h8zm-4 3a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" />


                </svg>
            </span>
            <input #My type="password" id="password"
                class="block py-2.5 ps-6 pe-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " formControlName="newPassword" />
            <label for="password"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:start-6 peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">New Password</label>
        </div>
        <button [disabled]="verfyEmail.invalid" type="submit" class="btn-main px-11 font-bold mt-5">Reset Password</button>
    </form>
   }
</section>