.LoginForm{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/332180266a3775df87a1c60b94dc4f97.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: "Rubik", serif;
}

form {
    background-color: black;
    opacity: 0.6;
    color: white;
    border-radius: 20px;
}