<section class="container mx-auto mt-10 mb-10">
    <h1 class="text-2xl mt-4 mb-2">{{'sections.PopularCategories' | translate}}</h1>
    <owl-carousel-o [options]="customOptions">
        @for (Cat of Category; track Cat._id) {
        <ng-template carouselSlide>
            <img class="h-[250px] w-full rounded mb-4" [src]="Cat.image" alt="">
            <h2 class="text-center">{{Cat.name}}</h2>
        </ng-template>
        }

    </owl-carousel-o>
</section>



<section class="container mx-auto">
    <h1 class="text-2xl mt-4 mb-2">{{'sections.PopularProducts' | translate}}</h1>
    <div class="max-w-md mx-auto relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none ">
            <i class="fa-solid fa-magnifying-glass text-[15px]" style="color: #6b7280 ;"></i>
        </div>
        <input type="search" id="default-search" [(ngModel)]="text"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search..." />
    </div>
    <div class=" grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 my-6">
        @for (Prod of products.slice(28,40) | search : text ; track Prod.id ) {
        <div class="Card  p-4 rounded-lg shadow">
            <div [routerLink]="[ '/Details', Prod._id  ]">
                <img class="w-full h-[250px] object-contain" [src]="Prod.imageCover" alt="">
                <h2 class="text-center">{{Prod.title.split(' ',2).join(' ')}}</h2>
                <p class="text-center text-green-600">${{Prod.price}}</p> <br>
            </div>
            <div class="flex justify-between items-center">
                <button (click)="AddProduct(Prod._id)" class="btn-main">{{'products.AddtoCart' | translate}} <i class="fa-solid fa-cart-shopping"></i></button>
                <div class="flex items-center">
                    <div class="text-purple-400">
                        <div class="">
                            <i class="fa-regular fa-heart me-3"></i>
                        </div>
                    </div>
                    <div class="flex items-center Star">
                        <i class="fa-solid fa-star text-yellow-300 me-1"></i>
                        <span>{{Prod.ratingsAverage}}</span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>