<div class="Footer text-white bg-black  p-8 grid md:grid-cols-3 gap-10 ">
    <div class="1st  me-16">
        <h2 class="Store">{{'footer.FindaStore' | translate}}</h2>
        <h2 class="my-3">{{'footer.FindTimberlandProductsNearYou' | translate}}</h2>
        <button class="bg-green-600 p-4 w-full">{{'footer.StoreLocator' | translate}}</button>
    </div>
    <div class="2nd ">
        <h2 class="Store mb-10">{{'footer.FollowUs' | translate}}</h2>
        <div class="icons flex space-x-4">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-line"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </div>
    <div class="3rd ">
        <h2 class="Store">{{'footer.Newsletter' | translate}}</h2>
        <h3 class="my-3"> {{'footer.Receiveproductnewsandupdateinyourinbox' | translate}}</h3>
        <div class="relative flex">
            <input class="rounded placeholder:text-black pb-3.5" type="text" name="" id="" placeholder="Email Adress">
            <div class="absolute left-48 ">
                <button class="bg-green-600 p-3"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="4th flex content-between items-center">
        <h2 class="mb-3 mt-3 w-[50%]"> {{'footer.SecureOnlineShopping' | translate}}</h2>
        <div class="IMG flex">
            <img class="w-[50px] me-3" src="/images/mastercard.webp" alt="">
            <img class="w-[50px] me-3" src="/images/amazon-pay.png" alt="">
            <img class="w-[50px] me-3" src="/images/American-Express-Color.png" alt="">
            <img class="w-[50px] me-3" src="/images/paypal.png" alt="">
        </div>
    </div>
</div>